.item{
    flex-wrap: wrap;
    margin: 10px 0;
    width: 32%;
    padding: 20px 40px;
    border-radius:25px;
    border: 1px solid var(--color-white);
    font-size: 22px;
    font-weight: 800;
}

.item img{
    margin-right: 1.5rem; 
}


@media screen and (max-width: 600px) {
    .item{
        width: 100%;
        gap:1rem
    }
}