.section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.textarea{
    max-width: 30vw;
}

.nameUser{
    color: var(--color-purple);
    font-size: 0.9375rem;
    line-height: 1.4063rem;
}

.text{
    margin: 20px 0;
    font-size: 1rem;
    line-height: 1.875rem;
}

@media screen and (max-width: 700px) {
    .section{
        flex-direction: column;
        padding: 0 1rem;
    }

    .textarea{
        max-width: 100%;
        width: 100%;
    }

    .section img{ 
        margin-top: 5rem; 
        width: 100%;
    }
}