.section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.textarea{
    max-width: 30vw;
}

.nameUser{
    color: var(--color-purple);
    font-size: 0.9375rem;
    line-height: 1.4063rem;
}

.text{
    margin: 20px 0;
    font-size: 1rem;
    line-height: 1.875rem;
}